.about{
    min-height: 100vh;
    // background-color: rgb(2, 160, 160);
    color: white;

    &-container{
        // background-color: cyan;
        display: flex;
        height: 100vh !important;
        flex-direction: column;
        height: inherit;
        align-content: stretch;
    }

    &-title-container{
        flex: 1 1 auto;
        margin-top: 3rem;

        .about-title{
            font-style: italic;
            color: transparent;
            font-family: $fontMigha;
            font-size: 10rem;
            -webkit-text-stroke: 3px white;
            
            span:nth-child(1){
                -webkit-text-stroke: none;
                mix-blend-mode: difference;
                color: white;
                margin-top: -5rem;
                display: block;
                font-style: normal;
                text-indent: 5rem;
            }
        }

    }
    .about-content-container{
        flex: 1 1 auto;
        font-family: $fontNeutral;
        font-style: italic;
        font-weight: 900;
        font-size: 3rem;
    }
    @for $i from 1 to 5 {
        .about-content:nth-child(#{$i}){
            text-indent: (3rem * $i);
        }
    }
    
    @media (max-width : 1200px) {
        
    }

    @media (max-width : 900px) {

        .about-title-container{
            margin-top: 1rem;
            width: 100vw;
            position: relative;
            .about-title{
                position: absolute;
                top: 0;
                left: 68%;
                transform: translateX(-50%);
                font-size: 7rem !important;
                position: relative;
                :nth-child(1){
                    position: absolute;
                    bottom: -1rem;
                    font-size: 4rem;
                }
            }
        }
        .about-content-container{
            font-size: 2rem;
        }
    }
    @media (max-width : 400px) {
        // background-color: red;
        display: block;

        .about-title-container{
            .about-title{
                position: absolute;
                top: 0;
                left: 45%;
                transform: translateX(-50%);
                font-size: 4.5rem !important;
                :nth-child(1){
                    font-size: 3rem !important;
                    // left: -1rem;
                }
            }
        }
        .about-content-container{
            font-size: 1.5rem;
            width: 80vw;
        }
    }
}