.creative{
    min-height: 100vh;
    // background-color: darkred;
    display: flex;
    align-content: stretch;

    .creative-container{
        width: 100%;
        display: flex;
        flex-direction: column;
        // background-color: green;
    }

    .title-container{
        color: white;
        flex: 0 1 auto;
        font-size: 5rem;
        // background-color: darkcyan;
    }
    
    .collage-container{
        flex: 1 1 auto;
        display: grid;
        // background-color: black;
        grid-template-columns: 1fr 1fr;
    }
}

// Collage Item 
.collage-item-container{
    color: white;
    // background-color: cyan;
    width: 98%;
    aspect-ratio: 1/1;
    // height: 100%;
    overflow: hidden;
    border: 5px solid cyan;

    
}

@media (max-width:1000px) {
    .collage-container{
        // background-color: black;
        border: 3px solid red;
        display: flex !important;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        align-items: center;
    }
}