@import './hamburger';
.header{
    color: white;
    // background: rgba(0, 0, 0,0.5);
    padding: 0 0;
    height: $navHeight;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    // padding: 0 3rem 0 3rem;
    z-index: 100;
    // border: 1px solid white;

    .container-nav-link{
        display: flex;
        font-size: 1.5rem;
        height: 100%;
        
        .nav-link{
            padding: 1rem;
            display: flex;
            justify-content: center;
            align-items: center;
            min-width: 10vw;
            // margin: 0 1rem 0 1rem;
            cursor: pointer;                
            height: inherit;
            background-color: none;

            &:hover{
                background-color: rgba(0, 0, 0, 0.856);
            }
            
        }
    }

    .title{
        font-family: $fontKenoky;
        color: white;
        font-weight: 800;
        font-size: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-bottom: 8px;
        // letter-spacing: .3em;
    }

    .on-overlay {
        color: black;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        // background-color: red;
        width: 100vw;
        height: 100vh;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        & > * {
            line-height: 1em;
        }

        .nav-link{
            &:hover{
                background-color: rgba($color: #000000, $alpha: 0) !important;
            }
        }
    }

    &.header-hamburger{
        padding: 10px 10px 10px 10px;
        .nav-inner{
            background-color: rgb(173, 173, 173);
            border: 2px solid wheat;
            border-radius: 5px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: {
                top: 0;
                left: 1rem;
                right: 1rem;
                bottom: 0rem;
            };
        }
    }
}

.nav-inner{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.overlay{
    background-color: rgba(0, 0, 0, 0.349) !important;
    transition: all 500ms ease-in-out;
}

.mobile {
    .title{
        span{
            color:white !important;

        }
    }
}