.nav-side-container{
    width: 100%;
    position: fixed;
    height: 100%;
    background-color: rgb(197, 162, 64);
    // top: 0;
    // left: -100vw;
    z-index: 5;
    display: grid;
    place-content: center;
    .link-container{
        // background-color: darkblue;

        .nav-link{
            // text-align: center;
            font-size: 2rem;
            line-height: 2em;
            color: black;
        }
    }
} 