@font-face {
    font-family: 'kenoky';
    src: url('../public/fonts/kenoky/KenokyLight.ttf');
}
@font-face {
    font-family: 'coffee';
    src: url('../public/fonts/kenoky/CoffekanRegular.ttf');
}
@font-face {
    font-family: 'migha';
    src: url('/public/fonts/migha/Migha-Regular.otf');
}
@font-face {
    font-family: 'neutral';
    src: url('/public/fonts/NeutralFace/NeutralFace.otf');
}
@font-face {
    font-family: 'bookman';
    src: url('/public/fonts/bookman/bookmanoldstyle.ttf');
}

$fontCoffee : 'coffee';
$fontKenoky : 'kenoky';
$fontMigha : 'migha';
$fontNeutral : 'neutral';
$fontBookman : 'bookman';