@import './globalVariables';
@import './fonts';
@import './components/container/container';
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    overscroll-behavior: none;
    background-color: black;
    overflow-x: hidden;
    height: max-content;
    //border: 1px solid white;
    //border-right: 1px solid white;
}

@import './components/Utils/scrollbar';

@import './components/Header/header';
@import './components/title/title';
@import './components/Dashboard/dashboard';
@import './components/CreativeCommunication/creativeComm';
@import './components/Products/products';
@import './components/Contact/contact';
@import './components/About/about';
@import './components/Creative/creative';
@import './components/Header/navAside';

.text-{
    &xs{
        font-size: .5rem;
    }
    &sm{
        font-size: .75rem;
    }
    &md{
        font-size: 1.2rem;
    }
    &lg{
        font-size: 1.6rem;
    }
    &xl{
        font-size: 2rem;
    }
    &2xl{
        font-size: 2.5rem;
    }
    &4xl{
        font-size: 3rem;
    }
}

.l-container{
    padding: {
        left: 5rem;
        right: 5rem;
    };
    // background-color: darkcyan;
    @media (max-width :1025px) {
        height: max-content;
        padding: {
            top: 1rem;
            left: 1rem;
            right: 1rem;
        };
    }
}

.cut-nav{
    padding: {
        top: $navHeight;
    };
}

.border-style{
    //border: 1px solid white;
}

.fix-margin{
    width: 101vw;
}


// Media Queries
@media (max-width : 1025px) {
    .text-{
        &xs{
            font-size: .3rem;
        }
        &sm{
            font-size: .5rem;
        }
        &md{
            font-size: 1rem;
        }
        &lg{
            font-size: 1.2rem;
        }
        &xl{
            font-size: 1.5rem;
        }
        &2xl{
            font-size: 1.8rem;
        }
        &4xl{
            font-size: 2rem;
        }
    }
}